@model Person

@{
    ViewData["Title"] = "Details";
}

@section css{
<style>
    .form-paragraph {
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Id"></label>
                <p class="form-paragraph">@Model.Id</p>
            </div>
            <div class="form-group">
                <label asp-for="Name">Ad: </label>
                <p class="form-paragraph">@Model.Name</p>
            </div>
            <div class="form-group">
                <label asp-for="Surname">Soyad: </label>
                <p class="form-paragraph">@Model.Surname</p>
            </div>
            <div class="form-group">
                <label asp-for="Age">Yaş: </label>
                <p class="form-paragraph">@Model.Age</p>
            </div>
            <div class="form-group">
                <label asp-for="Description">Ətraflı: </label>
                <textarea class="form-paragraph" readonly>@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label asp-for="Residence">Yaşayış yeri: </label>
                <p class="form-paragraph">@Model.Residence</p>
            </div>
            <div class="form-group">
                <label asp-for="Address">Adres: </label>
                <p class="form-paragraph">@Model.Address</p>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate">Freelance:</label>
                <p class="form-paragraph">@(Model.Freelance ? "Available" : "Not Available")</p>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate">Əlavə olunma zamanı:</label>
                <p class="form-paragraph">@Model.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</p>
            </div>
            <a asp-action="Index" class="btn btn-danger">Geriyə</a>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div style="width: 50%;" class="img-div">
                    <img style="width: 100%; height: 350px; object-fit: cover;" src="uploads/persons/img/@Model.ImagePath" />
                </div>
            </div>
            <div class="form-group">
                <embed src="uploads/persons/cv/@Model.CvResumePath" width="100%" height="500px" />
            </div>
        </div>
    </div>
</div>

@section js{
<script src="libs/autosize.js/autosize.min.js"></script>
<script>
    $(function(){
    autosize($('textarea'));
    });
</script>
}