@model IEnumerable<Contact>

@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="libs/limonte-sweetalert2/sweetalert2.min.css" />
}

<form>
    <div class="form-group">
        <input type="checkbox" name="visibility" class="contact-vis" id="vis" @(TempData["Vis"]?.ToString() == "checked" ? "checked" : "") />
        <label for="vis">Yalnız cavablanan mesajları göstər</label>
    </div>
</form>

@if (TempData["Vis"]?.ToString() == "checked")
{
    @if (Model.Count() == 0)
    {
        <div class="alert alert-warning" role="alert">
            Hələ ki, cavablanan müraciət yoxdur!
        </div>
    }
    else if (Model.Any(c => string.IsNullOrWhiteSpace(c.AnswerMessage) && c.AnswerDate == null))
    {

    }
    else
    {
        <table class="table table-striped vis-yes mb-5">
            <thead>
                <tr>
                    <th>Id: </th>
                    <th>Email: </th>
                    <th>Ad soyad: </th>
                    <th>Müraciət: </th>
                    <th>Göndərilmə tarixi: </th>
                    <th>Cavab: </th>
                    <th>Cavablanma tarixi: </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Contact item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.FullName</td>
                        <td>@item.Message</td>
                        <td>@item.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                        <td>@item.AnswerMessage</td>
                        <td>@item.AnswerDate?.ToString("dd.MM.yyyy HH:mm:ss")</td>
                        <td><a style="cursor: pointer; color: white;" class="btn btn-danger btn-del" data-del-id="@item.Id"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    @if (Model.Count() == 0)
    {
        <div class="alert alert-warning" role="alert">
            Hələ ki, cavablanmayan mesaj yoxdur!
        </div>
    }
    else
    {
        <table class="table table-striped vis-none mb-5">
            <thead>
                <tr>
                    <th>Id: </th>
                    <th>Email: </th>
                    <th>Ad soyad: </th>
                    <th>Müraciət: </th>
                    <th>Göndərilmə tarixi: </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Contact item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.FullName</td>
                        <td>@item.Message</td>
                        <td>@item.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                        <td>
                            <a asp-action="Answer" asp-route-id="@item.Id" class="btn btn-warning">Cavabla</a>
                            <a style="cursor: pointer; color: white;" class="btn btn-danger btn-del" data-del-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@section js{
<script src="libs/limonte-sweetalert2/sweetalert2.min.js"></script>
<script>
    $(document).ready(function(){
            /* $('.vis-yes').css('visibility', 'hidden');*/
    $('.contact-vis').on('change', (e) => {
        $(e.currentTarget).closest('form').submit();
        if ($(e.currentTarget).prop('checked')) {
            $('.vis-none').css('visibility', 'hidden');
            $('.vis-yes').css('visibility', 'visible');
        }
        else {
            $('.vis-yes').css('visibility', 'hidden');
            $('.vis-none').css('visibility', 'visible');
        }
    });

    let btnDel = $('.btn-del');
        $(btnDel).on('click', (e)=>{
            let id = $(e.currentTarget).data('del-id');
                Swal.fire({
      title: 'Əminsinizmi?',
      text: "Bu əməliyyat geri qaytarılmayacaq!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Bəli, silinsin!'
    }).then((result) => {
      if (result.isConfirmed) {
          $.ajax({
              url:`@Url.Action("Delete")/${id}`,
              type:"POST",
              success: function(){
                  $(e.currentTarget).closest('tr').remove();
              },
              error: function(response){
                  alert(response);
              }
          });
        Swal.fire(
          'Silindi!',
          'Sizin seçdiyiniz məlumat uğurla silindi.',
          'success'
        )
      }
    })
        });
    });
</script>
}

