@model BlogCollectionFormModel
@inject RyanDbContext db

@{
    ViewData["Title"] = "Create";

    var tags = db.Tags.ToList();
    var blogCategories = db.BlogCategories.ToList();
}

@section css{
<link rel="stylesheet" href="libs/toastr.js/toastr.css" />
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Blog.Id" class="label-required">Bloq: </label>
        <select asp-for="Blog.Id" class="form-control" asp-items="@ViewBag.Blogs"></select>
        <span asp-validation-for="Blog.Id" style="color: red;"></span>
    </div>

    <div class="form-group">
        <label asp-for="BlogTagCategoryCollections[0].Tag.Id" class="label-required">Teq: </label>
        <select asp-for="BlogTagCategoryCollections[0].Tag.Id" class="form-control" asp-items="@ViewBag.Tags"></select>
        <span asp-validation-for="BlogTagCategoryCollections[0].Tag.Id" style="color: red;"></span>

        <label asp-for="BlogTagCategoryCollections[0].BlogCategory.Id" class="label-required mt-2">Bloq Kateqoriyaları: </label>
        <select asp-for="BlogTagCategoryCollections[0].BlogCategory.Id" class="form-control" asp-items="@ViewBag.BlogCategories"></select>
        <span asp-validation-for="BlogTagCategoryCollections[0].BlogCategory.Id" style="color: red;"></span>
    </div>

    <div class="text-center mt-3">
        <a class="btn btn-success plus-btn" style="border-radius: 50%; cursor: pointer; margin: 10px 0;">
            <i class="fas fa-plus"></i>
        </a>
    </div>

    <a asp-action="Index" class="btn btn-danger">Geriyə</a>
    <button class="btn btn-info" type="submit">Əlavə et</button>
</form>

@section js{
<script src="libs/jquery-validate/jquery.validate.min.js"></script>
<script src="libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="libs/toastr.js/toastr.min.js"></script>
<script src="libs/toastr.js/toastr.customize.min.js"></script>
<script>
    $(document).ready(function () {
            let plusBtn = $('.plus-btn');
            let i = 1;
            $(plusBtn).on('click', function () {
                let tagsSelect =  `<select name="BlogTagCategoryCollections[${i}].Tag.Id" id="BlogTagCategoryCollections[${i}].Tag.Id" class="form-control mb-2">
                                               @foreach(var item in tags){
                                               <option value="@item.Id">@item.Name</option>
                                               }
                                            </select>`;

              let blogCategoriesSelect =  `<select name="BlogTagCategoryCollections[${i}].BlogCategory.Id" id="BlogTagCategoryCollections[${i}].BlogCategory.Id" class="form-control mb-2">
                                             @foreach(var item in blogCategories){
                                             <option value="@item.Id">@item.Name</option>
                                             }
                                           </select>`;

                let content = `<div class="form-group">
                                 ${tagsSelect}
                                 ${blogCategoriesSelect}
                               </div>`;

                $(this).parent().before(content);
                i++;
            });

            $('form').on('submit', (e) => {
               e.preventDefault();

               let formData = new FormData(e.currentTarget);

               $.ajax({
                 url: '@Url.Action("Create")',
                 type: "POST",
                 data: formData,
                 contentType: false,
                 processData: false,
                 success: function(response){
                     if(response.error == false){
                         toastr.success(response.message, 'Uğurlu!');
                         setTimeout(()=>{
                         window.location.href = '@Url.Action("Index")';
                         }, 1500);
                     }

                     toastr.error(response.message, 'Xəta!');
                 },
                 error: function(response){
                     console.log(response);
                 }
               });
            });
        });
</script>
}
